/* paleta de cores
    #2A1B1B
    #552828
    #000000
    #802626
*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

#friren{
    width: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.dropdown-menu{
    background-color: #802626;
}

.dropdown-item{
    color: white;
}

#carousel{
    background-image: linear-gradient(to bottom, #2A1B1B, #552828, #2A1B1B);
    border-radius: 5px;
    padding-bottom: 5vh;
}

.carousel-item img{
    height: 50vh;
}

.carousel-indicators img{
    width: 70px;
    height: 40px;
    display: block;
    border-radius: 5px;
}
.carousel-indicators button{
    width: max-content!important;
}

div>img.imagem-carousel{
    border: 4px solid #00000066;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

#controle1{
    position: absolute;
    top: 40%;
    left: 170%;
    color: black;
}
#controle2{
    position: absolute;
    top: -10%;
    right: 19%;
}

div.carousel-caption a{
    display: block;
    margin: auto;
    background-color: #552828b3;
    width: 40vw;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}

section#destaque{
    background-image: linear-gradient(to bottom, #2A1B1B, #552828, #2A1B1B);
    color: white;

}

.card-img-overlay{
    background-color: rgba(0, 0, 0, 0.727);
    height: 101%;
    color: white;    
    font-size: 0.6em;
    padding: 10px 5px;
    display: none; 
}

.card-img-overlay:hover{
    display: block!important;
    z-index: 100;
}

.card:hover{
    transform: scale(1.15);
    cursor: pointer;
}

#p{
    color: white;
}

div.card{
    margin-bottom: 10vh;
}


img.card-img{
    height: 40vh;
    max-height: 55vh;

    cursor: pointer;
    box-shadow: 5px 5px 5px #2A1B1B;
}

section#lancamento{
    background-image: linear-gradient(to bottom, #2A1B1B, #552828, #2A1B1B);
    color: white;
    margin-top: -7.2vh;
}

footer{
    margin-top: -7.2vh;
}